<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
      
        <property name="hibernate.connection.url">jdbc:derby://192.168.178.100:1527/root/derbydemodb</property>
        <property name="hibernate.connection.username">root</property>
          <property name="hibernate.connection.password">jj78mvpr52k1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        
        <!-- demoderbydb  -->
        <mapping class="de.jgsoftwares.hql.model.demodb.Desktoplayout"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Kundenstamm"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Reports"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Sprachen"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Useragent"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Userdata"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Userdetail"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Users"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Webtextlayout"/>
        <mapping class="de.jgsoftwares.hql.model.demodb.Yourcompanydata"/>
             
      
    </session-factory>
</hibernate-configuration>
